.P_contact {
  margin-bottom: 24vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-body {
    border-radius: 3.2vw;
    padding-bottom: 12.33333vw;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 10.66667vw;
    margin-top: 5.06667vw;
    width: 73.33333vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    @include mq-up("tab_after") {
      border-radius: 0.83333vw;
      padding-bottom: 6.94444vw;
      padding-left: 10.20833vw;
      padding-right: 10.20833vw;
      padding-top: 6.45833vw;
      margin-top: 5.27778vw;
    }
  }
  .intro {
    font-size: 3.73333vw;
    line-height: 210%;
    text-align: left;
    white-space: normal;
    margin-bottom: 8vw;
    font-feature-settings: "palt" on;
    @include mq-up("tab_after") {
      font-size: 1.04167vw;
      margin-bottom: 5vw;
      line-height: 215%;
    }
  }
  .form {
    padding-top: 12vw;
    display: flex;
    flex-direction: column;
    border-top: solid #d1d1d1 0.2vw;
    @include mq-up("tab_after") {
      border-top: solid #d1d1d1 0.06944vw;
      padding-top: 4.86111vw;
      width: 55vw;
    }
  }
  .item {
    flex-direction: column;
    display: flex;
    margin-top: 8vw;
    &:nth-of-type(1) {
      margin-top: 0;
    }
    @include mq-up("tab_after") {
      margin-top: 2.08333vw;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  .text-box {
    font-size: 4vw;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 215%;
    font-feature-settings: "palt" on;
    white-space: nowrap;
    @include mq-up("tab_after") {
      margin-left: 15px;
    }
  }
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 215%;
    font-feature-settings: "palt" on;
    white-space: nowrap;
    @include mq-up("tab_after") {
      font-size: 1.25vw;
    }
  }
  .mandatory {
    font-size: 3.46667vw;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 200%;
    text-align: center;
    color: #e56910;
    @include mq-up("tab_after") {
      font-size: 0.90278vw;
      right: initial;
      left: 14vw;
    }
  }
  .input {
    padding-right: 4vw;
    padding-left: 4vw;
    margin-top: 2.13333vw;
    height: 11.73333vw;
    border-radius: 1.6vw;
    font-size: 4vw;
    background-color: #e7e7e7;
    line-height: 1.4;
    transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 0;
    @include mq-up("tab_after") {
      padding-left: 1.38889vw;
      padding-right: 1.38889vw;
      height: 3.47222vw;
      border-radius: 0.41667vw;
      font-size: 1.25vw;
      margin-top: 0;
      width: 35vw;
    }
  }
  .text-area {
    border-radius: 1.6vw;
    padding-left: 4vw;
    margin-top: 2.13333vw;
    padding-right: 4vw;
    height: 69.33333vw;
    padding-bottom: 5.33333vw;
    padding-top: 5.33333vw;
    font-size: 4vw;
    background-color: #e7e7e7;
    line-height: 1.4;
    transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 0;
    resize: none;
    @include mq-up("tab_after") {
      height: 11.11111vw;
      padding-bottom: 1.38889vw;
      padding-top: 1.38889vw;
      padding-left: 1.38889vw;
      padding-right: 1.38889vw;
      border-radius: 0.41667vw;
      margin-top: 0;
      width: 35vw;
    }
  }
  .submit {
    width: 100%;
    height: 12.8vw;
    background-color: $color-accent2;
    text-align: center;
    border-radius: 50px;
    display: block;
    color: #fff;
    font-family: "Font Awesome 5 Free", sans-serif;
    border: 2px solid $color-accent2;
    transition: all 0.3s;
    letter-spacing: 0.1em;
    font-size: 4.26667vw;
    margin-top: 10vw;
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
    &.isActive {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
    }
    &:hover {
      background-color: #fff;
      border-color: $color-accent2;
      color: $color-accent2;
    }
    @include mq-up("tab_after") {
      height: 3.47222vw;
      width: 16.38889vw;
      font-size: 1.11111vw;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5vw;
    }
  }
  .errors {
    margin-top: 5vw;
    text-align: center;
    color: #e56910;
  }
}
