.P_index__kv {
  width: 33vw;
  position: absolute;
  top: $header-height_pc;
  right: $space-side;
  z-index: map-get($layer, 'back-image');
}
.P_index__catch-copy {
  height: 35.27778vw;
  padding-bottom: 8.40278vw;
  width: 50vw;
  .copy {
    margin-top: 3.26389vw;
    margin-left: 4.16667vw;
    p {
      margin-top: 3vw;
    }
  }
}
.P_index__who-we-are {
  display: flex;
  .circle,
  .web,
  .contents,
  .local {
    position: absolute;
  }
  .circle {
    width: 24vw;
    height: 24vw;
    left: 50%;
    top: 14%;
    left: 29%;
  }
  .web {
    width: 12vw;
    height: 12vw;
    top: 0%;
    right: 10%;
  }
  .contents {
    width: 11vw;
    height: 11vw;
    bottom: -9%;
    right: 17%;
  }
  .local {
    width: 10vw;
    height: 10vw;
    top: 38%;
    left: 18%;
  }
  .web-text,
  .contents-text,
  .local-text,
  .creative-text,
  .fun-text {
    position: absolute;
  }
  .web-text {
    top: 22.7%;
    left: 71.7%;
  }
  .contents-text {
    top: 93%;
    left: 61.7%;
  }
  .local-text {
    top: 56.8%;
    left: 25.3%;
  }
  .creative-text {
    top: 48.8%;
    left: 51.2%;
  }
  .fun-text {
    top: 55.8%;
    left: 55.4%;
  }
  .C_common__title-line,
  .C_common__title,
  .text,
  .buttun {
    display: flex;
    justify-content: flex-end;
  }
  .C_common__title {
    margin-top: 3.54167vw;
  }
  .text {
    margin-top: 1.38889vw;
    margin-left: 10vw;
  }
  .buttun {
    width: 100%;
    margin-top: 2.7vw;
  }
}
.P_index__what-we-do {
  margin-top: 12.91667vw;
  padding-bottom: 8.75vw;;
  .C_common__title-line {
    padding-left: $space-side_L;
  }
  .contents {
    height: 62.5vw;
    position: relative;
    width: 100%;
    margin-top: 6vw;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .card {
    padding: 0 5vw;
    width: 52.08333vw;
    height: 29.86111vw;
    border-radius: .83333vw;
    position: absolute;
    z-index: map-get($layer, 'cover');
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 18.75vw;
    &.left {
      left: 6.94444vw;
    }
    &.right {
      right: 6.94444vw;
    }
    .text {
      margin-top: .97222vw;
    }
    .C_common__buttun {
    margin-top: 2.43056vw;
    }
  }
  .img-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
    background-color: grey;
    &.left {
      border-top-right-radius: .83333vw;
      border-bottom-right-radius: .83333vw;
      left: 0;
    }
    &.right {
      border-top-left-radius: .83333vw;
      border-bottom-left-radius: .83333vw;
      right: 0;
    }
  }
}
.P_index__works {
  padding-top: 7.84722vw;
  .C_common__title-line {
    display: flex;
    justify-content: flex-end;
  }
}
.P_index__connect {
  padding-top: 7.84722vw;
}
