.A_text-mask[data-text] {
  will-change: animation;
  background-image: -webkit-linear-gradient(left,$color-text 50%,$color-mask 0);
  -webkit-animation: mask-out .6s cubic-bezier(.075,.82,.165,1) 0s forwards;
  animation: mask-out .6s cubic-bezier(.075,.82,.165,1) 0s forwards;
  background-color: transparent;
  background-position: 200% 0;
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  &.white {
    background-image: -webkit-linear-gradient(left,#fff 50%,$color-mask 0);
  }
  &:hover {
    -webkit-animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
    animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
  }
}
.A_mask {
  will-change: animation;
  width: 100%;
  height: 100%;
  -webkit-animation: mask-out .6s cubic-bezier(.075,.82,.165,1) 0s forwards;
  animation: mask-out .6s cubic-bezier(.075,.82,.165,1) 0s forwards;
  background-image: -webkit-linear-gradient(left,#fff 50%,$color-mask 0);
  background-position: 200% 0;
  background-size: 200% 100%;
  &:hover {
    -webkit-animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
    animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
  }
}
.A_open-menu {
  &:hover .A_open-menu-target {
    opacity: 1;
    transform: initial;
  }
}
@keyframes mask{
  0%{
    background-position: 200% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes mask-out{
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}
.A_hide {
  overflow: hidden;
  .hide-inner {
    transition: transform .6s cubic-bezier(.075,.82,.165,1);
    will-change: transform;
    transform: translate(0px, 120%);
    &.isActive {
      transform: translate(0px, 0%);
      width: 100%;
    }
    &.A_visited {
      transform: translate(0px, 0%);
      width: 100%;
    }
  }
}
@keyframes line-in {
  0% {
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: inset(0 100% 0 0);
  }
  15% {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
  }
  100% {
      -webkit-clip-path: inset(0 0 0 50%);
      clip-path: inset(0 0 0 50%);
  }
}
.A_svg {
  .svg-0 {
    transition: stroke-dashoffset 4s cubic-bezier(.075,.82,.165,1);
    will-change: stroke-dashoffset;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  .svg-01 {
    transition: opacity .6s cubic-bezier(.075,.82,.165,1) 1s;
    will-change: opacity;
    opacity: 0;
  }
  .svg-1 {
    transition: transform .6s cubic-bezier(.075,.82,.165,1) 0s,opacity .6s cubic-bezier(.075,.82,.165,1) 0s;
    will-change: transform, opacity;
    transform: scale(0);
    opacity: 0;
  }
  .svg-2 {
    transition: transform .6s cubic-bezier(.075,.82,.165,1) .4s, opacity .6s cubic-bezier(.075,.82,.165,1) .4s;
    will-change: transform, opacity;
    transform: scale(0);
    opacity: 0;
  }
  .svg-3 {
    transition: transform .6s cubic-bezier(.075,.82,.165,1) .2s, opacity .6s cubic-bezier(.075,.82,.165,1) .2s ;
    will-change: transform, opacity;
    transform: scale(0);
    opacity: 0;
  }
  &.isActive {
    .svg-0 {
      stroke-dashoffset: 0;
    }
    .svg-01 {
      opacity: 1;
    }
    .svg-1 {
      transform: scale(1);
      opacity: 1;
    }
    .svg-2 {
      transform: scale(1);
      opacity: 1;
    }
    .svg-3 {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.A_button-hide {
  will-change: opacity, transform;
  transform: scale(0,1);
  transform-origin: center left;
  transition: opacity .6s cubic-bezier(.075,.82,.165,1), transform .6s cubic-bezier(.075,.82,.165,1);
  opacity: 0;
  span {
    will-change: opacity;
    transition: opacity .1s cubic-bezier(.075,.82,.165,1);
    opacity: 0;
  }
  &.isActive {
    transform: scale(1,1);
    opacity: 1;
    span {
      opacity: 1;
    }
  }
}
.A_image-hide {
  will-change: -webkit-clip-path clip-path;
  transition: clip-path .8s cubic-bezier(.165,.84,.44,1),-webkit-clip-path .8s cubic-bezier(.165,.84,.44,1);
  &.right {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
  &.left {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  &.ver {
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
  }
  &.isActive {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.A_bord-hide {
  will-change: clip-path -webkit-clip-path;
  transition: clip-path .8s cubic-bezier(.165,.84,.44,1),-webkit-clip-path .8s cubic-bezier(.165,.84,.44,1);
  &.right {
    clip-path: inset(0 0 0 100%);
    -webkit-clip-path: inset(0 0 0 100%);
  }
  &.left {
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
  }
  &.isActive {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  &.A_visited {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}
.A_opacity-hide {
  will-change: opacity;
  opacity: 0;
  transition: opacity .8s cubic-bezier(.165,.84,.44,1);
  &.isActive {
    opacity: 1;
  }
}
.A_start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
  .logo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 200px;
    height: 200px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
