<header>
  <nav class='C_header' id='JS_scroll-change_target-H0'>
    <h1 class='C_header__logo'>
      <%= embedded_svg 'logo.svg', alt: 'riitt'%>
      <%= link_to '', '/' , class:'U_link'%>
    </h1>
    <ul class='C_header__nav-lists tab_after'>
      <li class='C_header__nav-list'>
        <div class='isHide'id='JS_scroll-change-delay_target-H0'>
          <span class=' A_text-mask' data-text='COMPANY'>COMPANY</span>
        </div>
      </li>
      <div class='C_header__open-menu'>
        <ul class='C_header__nav-sub-lists target-ul'>
          <li class='C_header__nav-sub-list A_mask target-li'>
            WEB製作
          </li>
          <li class='C_header__nav-sub-list A_mask target-li'>
            動画撮影・編集
          </li>
          <li class='C_header__nav-sub-list A_mask target-li'>
            印刷物製作
          </li>
          <li class='C_header__nav-sub-list A_mask target-li'>
            システム開発
          </li>
        </ul>
        <li class='C_header__nav-list sub-menu'>
          <div class='isHide'id='JS_scroll-change-delay_target-H1'>
            <span class='A_text-mask' data-text='SERVICE'>
              SERVICE
              <%= embedded_svg 'arrow-down.svg', class: 'C_header__arrow-down A_text-mask' %>
            </span>
          </div>
        </li>
      </div>
      <li class='C_header__nav-list'>
        <div class='isHide'id='JS_scroll-change-delay_target-H2'>
          <span class='A_text-mask' data-text='WORKS'>WORKS</span>
        </div>
      </li>
      <li class='C_header__nav-list'>
        <div class='isHide'id='JS_scroll-change-delay_target-H3'>
          <span class='A_text-mask' data-text='CONTACT'>CONTACT</span>
        </div>
      </li>
    </ul>
    <nav class='C_header__opener isMoveTop' id='JS_scroll-change_target-H1'>
      <div class='C_header__opener__text'>
        <div class='isHide isMoveTop'id='JS_scroll-change_target-H2'>
          <p class='A_text-mask' data-text='MENU'>MENU</p>
        </div>
      </div>
      <button class='C_header__opener__icon'>
        <div class='icon_bg'></div>
        <span class='icon_dot --ver-up isMoveTop' id='JS_scroll-change_target-H3'></span>
        <span class='icon_dot --ver-down isMoveTop' id='JS_scroll-change_target-H4'></span>
        <span class='icon_dot --hor-left'></span>
        <span class='icon_dot --hor-right'></span>
        <span class='icon_dot --center'></span>
      </button>
    </nav>
  </nav>
  <div class='C_header__dummy'></div>
</header>
