<% content_for :title do %>
セキュリティポリシー｜Riitt株式会社｜コンテンツクリエイター
<% end %>
<%= render partial: 'shared/header' %>
<div class="P_info">
  <h1 class='C_page-header'>INFORMATION SECURITY POLICY</h1>
</div>
<div class='P_privacy-info'>
  <div class='body'>
    <div class='info-policy'>
      <h3 class='title'>
        情報セキュリティポリシー
      </h3>
      <p>
        Riitt株式会社（以下Riitt）は、ここに情報セキュリティポリシーを定め、これを役員ならびに従業員に周知すると共に、Riittが取扱う全ての情報資産を適切に保護していくことに努めます。
        <br>
        1. 目的
        <br>
        Riittは、情報セキュリティへの取り組みを事業上、最重要課題のひとつと認識し、役員ならびに従業員と全社をあげてこれに取り組むものとします。
        <br>
        <br>
        2. 適用範囲
        <br>
        Riittが保有する全ての情報資産を対象とし、またRiittが保有する情報資産を第三者と共有する時は適切に管理監督を行います。
        <br>
        <br>
        3. 教育
        <br>
        Riittは、本ポリシーを実施するため役員ならびに従業員への教育を行い周知を図ります。
        <br>
        <br>
        4. 管理
        <br>
        Riittは、代表取締役を委員長とする情報セキュリティ委員会、ならびに統括責任者を置き情報資産の適切な管理を行います。
        <br>
        <br>
        5. 法令遵守
        <br>
        Riittの役員ならびに従業員は、情報セキュリティに関する法令その他の規範および契約等の要求事項を遵守します。
        <br>
        <br>
        6. 事故防止
        <br>
        Riittは、万一情報資産にセキュリティ上での問題や事故が生じても、その原因を迅速に解明し、被害を最小限に止めるよう努めます。 また、再発防止にも努めます。
      </p>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>
