<% content_for :title do %>
  プライバシーポリシー｜Riitt株式会社｜コンテンツクリエイター
<% end %>
<%= render partial: 'shared/header' %>
<h1 class='C_page-header'>PRIVACY POLICY</h1>
<div class='P_privacy-info'>
  <div class='body'>
    <div class='policy'>
      <h3 class='title'>
        プライバシーポリシー
      </h3>
      <p>
        当社は、当社が取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、本人の権利の保護、個人情報に関する法規制等を遵守します。
        <br>
        <br>
        また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、最新のＩＴ技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、その継続的改善に、全社を挙げて取り組むことをここに宣言します。
        <br>
        <br>
        <br>
        1.個人情報は、WEBサービス・MEDIA製作・ロゴ製作・システム開発業務における当社の正当な事業遂行上並びに従業員の雇用、人事管理上必要な範囲に限定して、取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）を行いません。また、目的外利用を行わないための措置を講じます。
        <br>
        <br>
        2.個人情報保護に関する法令、国が定める指針及びその他の規範を遵守致します。
        <br>
        <br>
        3.個人情報の漏えい、滅失、き損などのリスクに対しては、合理的な安全対策を講じて防止すべく事業の実情に合致した経営資源を注入し個人情報セキュリティ体制を継続的に向上させます。また、個人情報保護上、問題があると判断された場合には速やかに是正措置を講じます。
        <br>
        <br>
        4.個人情報取扱いに関する苦情及び相談に対しては、迅速かつ誠実に、適切な対応をさせていただきます。
        <br>
        <br>
        5.個人情報保護マネジメントシステムは、当社を取り巻く環境の変化を踏まえ、適時・適切に見直してその改善を継続的に推進します。
        <br>
        <br>
        本方針は、全ての従業者に配付して周知させるとともに、当社のホームページ、パンフレットなどに掲載することにより、いつでもどなたにも入手可能な措置を取るものとします。
        <br>
        <br>
        以上
        <br>
        <br>
        <br>
        【お問合せ窓口】
        <br>
        個人情報保護方針に関するお問合せにつきましては、下記窓口で受付けております。
        <br>
        <br>
        <br>
        〒597-0081　大阪府　貝塚市　麻生中1024-9
        <br>
        Riitt株式会社　個人情報お問い合わせ係
        <br>
        TEL:072-427-5515
        <br>
        <br>
        <br>
        制定日　2021年5月1日
        <br>
        <br>
        Riitt株式会社
        代表　秦　真宣
      </p>
    </div>
    <div class='statement'>
      <h3 class='title'>プライバシーステートメント</h3>
      <p>
        ■個人情報の取扱いについて
        <br>
        弊社ではウェブサイトなどで一般に公開されている情報などからデータを作成の上、使用しています。WEBサービス・MEDIA製作・ロゴ製作・システム開発等の業務を委託された場合、その中に含む個人情報について適切に取扱います。
        <br>
        ■開示対象個人情報に関する事項
        <br>
        １．会社名　　　　　：Riitt株式会社
        <br>
        <br>
        ２．保護管理責任者　：秦　真宣
        <br>
        <br>
        ３．開示対象個人情報の種別とその利用目的
        <br>
        <br>
        (1) お取引先の方々の個人情報
        <br>
        　　　商談及び業務上の諸連絡、受発注業務、請求支払業務の為
        <br>
        <br>
        (2) 当社のWEBを通じて提供いただいた皆様の個人情報
        <br>
        　　　お問い合わせ内容への回答の為
        <br>
        <br>
        (3) 当社従業員の個人情報
        <br>
        　　　弊社従業員の人事労務管理、業務管理、健康管理、セキュリティ管理の為
        <br>
        <br>
        (4) 当社採用活動に伴う入社希望者の個人情報
        <br>
        　　　 採用応募者への結果通知および連絡の為
      </p>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>
