<p><%= @contact.name %>　さま</p>

<p>お問い合わせありがとうございます。</p>
<p>この度は、お問い合わせいただきありがとうございます。本メールは自動返信となっております、お問い合わせ内容をご確認させていただきましたら、また改めてご連絡さしあげます。</p>


<p>送信内容</p>
<p>お名前：<%= @contact.name %></p>
<p>email：<%= @contact.email %><br></p>

<h1>お問い合わせ内容</h1>
<p><%= @contact.question %></p>

<p>株式会社 Riitt</p>
<p>大阪府　貝塚市　麻生中1024-9</p>
<p>TEL:072-427-5515</p>
<p>TEL:072-427-5516</p>

<p>なお、本メールは自動送信専用となっていますので、こちらに返信をいただいても、ご返答できかねます。</p>
