.C_image {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  &.top {
    transform: initial;
    top: 0;
    left: 0;
  }
}
.C_Photo_image {
  width: 112%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  &.top {
    transform: initial;
    top: 0;
    left: 0;
  }
  @include mq-up("tab_after") {
    width: 100%;
  }
}
