// バックグラウンド
$color-background: #FAF9F7;
$color-background2: #F5F2ED;
// ボーダーテキスト
$color-border: #DDDCD9;
$color-text: #333;
$color-text-thin: #828282;
$color-footer: #001F34;
$color-font: #013D65;
$color-font-strong: #002E4D;
// アクセントカラー
$color-accent1:#0E476D;
$color-accent2:#015084;
$color-accent3:#0061A1;
$color-accent4:#0B81D0;
$color-mask: #106ce5;
