// --------------------------------
// メディアクエリ（スマホベース）
// --------------------------------

// レイアウト幅
$PC: 1920px;
$Tab: 960px;
$SP: 520px;

// ブレークポイント
$breakpoints-up: (
	"sp_only": "(max-width: #{$SP})",
	"tab_only": "(min-width: #{$SP + 1px}) and (max-width: #{$Tab})",
	"tab_before": "(max-width: #{$Tab})",
	"tab_after": "(min-width: #{$SP + 1px})",
	"pc_only": "(min-width: #{$Tab + 1px})",
	"ie": "(-ms-high-contrast: active), (-ms-high-contrast: none)"
);

// メディアクエリー（スマホベース）
@mixin mq-up($breakpoint: tab) {
	@media #{map-get($breakpoints-up, $breakpoint)} {
		@content;
	}
}

// メディアクエリの表示
@include mq-up("tab_after") {
	.sp_only {
		display: none!important;
	}
}
@include mq-up("pc_only") {
	.tab_before {
		display: none!important;
	}
}
@include mq-up("sp_only") {
	.tab_after {
		display: none!important;
	}
}
@include mq-up("tab_before") {
	.pc_only {
		display: none!important;
	}
}

// ヘッダー高さ
$header-height_sp: 90px;
$header-height_pc: 122px;

// z-index の指定
$layer: (
	loading: 200,
	modal: 100,
	drawer: 50,
	floating: 40,
	header: 30,
	footer: 20,
	top-icon: 15,
	icon: 10,
	cover: 5,
	kv: 3,
	default: 1,
	back-image: -1,
	back-deco: -2,
	back-ground:-3
);

// スペース
$space-side: 5vw;
$space-side_L: 9vw;
$space-vertical: 3vh;
$space-vertical-wrap: 8.75vw;
$space-vertical-wrap_L: 18.47222vw;
