// ================================
// フォントサイズ
// ================================
$font-size-base: 1.34vw;
$font-size-base_sp: 3.73333vw;
$font-weight-base: 500;
$line-height-base: 1.6;
// ================================
// 字間
// ================================
$letter-spacing-base: 0.08em;
// ================================
// フォント
// ================================

$font-family-hiragino: "游ゴシック体",
"Yu Gothic",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
dnp-shuei-gothic-gin-std,
YuGothic,
"游ゴシック体",
"Yu Gothic Medium",
"游ゴシック Medium",
"Yu Gothic",
"游ゴシック",
"ヒラギノ角ゴ ProN",
"Hiragino Kaku Gothic ProN",
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
Arial,
Helvetica,
Verdana,
sans-serif;

$font-family-base: honoka-maru;
// ================================
// ローカルフォント
// ================================
@font-face {
  font-family: 'honoka-maru';
  src: font-url('honoka-maru.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: font-url('DINPro-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito-ExtraBold';
  src: font-url('Nunito-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito-SemiBold';
  src: font-url('Nunito-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito-Bold';
  src: font-url('Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
