.C_back-deco.company {
  .deco_0 {
    will-change: transform;
    top: -3vw;
    left: 14.4%;
    width: 3.77778vw;
    height: 10.77778vw;
    @include mq-up("tab_after") {
      top: -3vw;
      left: 14.4%;
      width: 3.77778vw;
      height: 10.77778vw;
    }
  }
  .deco_1 {
    will-change: transform;
    top: -4vw;
    left: 26vw;
    width: 7.77778vw;
    height: 7.77778vw;
    @include mq-up("tab_after") {
      top: -4vw;
      left: 26vw;
      width: 7.77778vw;
      height: 7.77778vw;
    }
  }
  .deco_2 {
    will-change: transform;
    top: -2.5vw;
    left: 65.5vw;
    width: 16.77778vw;
    height: 21.77778vw;
    @include mq-up("tab_after") {
      top: -2.5vw;
      left: 65.5vw;
      width: 16.77778vw;
      height: 21.77778vw;
    }
  }
  .deco_3 {
    will-change: transform;
    top: 6vw;
    left: 85.3vw;
    width: 6.77778vw;
    height: 6.77778vw;
    @include mq-up("tab_after") {
      top: 6vw;
      left: 85.3vw;
      width: 6.77778vw;
      height: 6.77778vw;
    }
  }
  .deco_4 {
    will-change: transform;
    top: 21vw;
    left: 13vw;
    width: 3.77778vw;
    height: 12.77778vw;
    @include mq-up("tab_after") {
      top: 21vw;
      left: 13vw;
      width: 3.77778vw;
      height: 12.77778vw;
    }
  }
  .deco_5 {
    will-change: transform;
    top: 13vw;
    left: 20vw;
    width: 2.77778vw;
    height: 21.77778vw;
    @include mq-up("tab_after") {
      top: 13vw;
      left: 20vw;
      width: 2.77778vw;
      height: 21.77778vw;
    }
  }
  .deco_6 {
    will-change: transform;
    top: 22vw;
    left: 56vw;
    width: 3vw;
    height: 3vw;
    @include mq-up("tab_after") {
      top: 22vw;
      left: 56vw;
      width: 3vw;
      height: 3vw;
    }
  }
  .deco_7 {
    will-change: transform;
    top: 27vw;
    left: 56vw;
    width: 3vw;
    height: 11.77778vw;
    @include mq-up("tab_after") {
      top: 27vw;
      left: 56vw;
      width: 3vw;
      height: 11.77778vw;
    }
  }
  .deco_8 {
    will-change: transform;
    top: 29vw;
    left: 61vw;
    width: 2.77778vw;
    height: 9.77778vw;
    @include mq-up("tab_after") {
      top: 29vw;
      left: 61vw;
      width: 2.77778vw;
      height: 9.77778vw;
    }
  }
  .deco_9 {
    will-change: transform;
    top: 17vw;
    right: 2vw;
    width: 2.77778vw;
    height: 18.77778vw;
    @include mq-up("tab_after") {
      top: 17vw;
      right: 2vw;
      width: 2.77778vw;
      height: 18.77778vw;
    }
  }
  .deco_10 {
    will-change: transform;
    display: block;
    top: 146vw;
    width: 22.77778vw;
    height: 12.77778vw;
    left: -6vw;
    @include mq-up("tab_after") {
      display: block;
      top: 146vw;
      width: 22.77778vw;
      height: 12.77778vw;
      left: -6vw;
    }
  }
  .deco_11 {
    will-change: transform;
    top: 96vw;
    width: 3vw;
    height: 3vw;
    left: 27vw;
    @include mq-up("tab_after") {
      top: 96vw;
      width: 3vw;
      height: 3vw;
      left: 27vw;
    }
  }
  .deco_12 {
    will-change: transform;
    top: 101vw;
    width: 3vw;
    height: 11.77778vw;
    left: 27vw;
    @include mq-up("tab_after") {
      top: 101vw;
      width: 3vw;
      height: 11.77778vw;
      left: 27vw;
    }
  }
  .deco_13 {
    will-change: transform;
    top: 89vw;
    width: 6vw;
    height: 6vw;
    left: 50vw;
    @include mq-up("tab_after") {
      top: 89vw;
      width: 6vw;
      height: 6vw;
      left: 50vw;
    }
  }
  .deco_14 {
    will-change: transform;
    top: 113vw;
    width: 3vw;
    height: 19.77778vw;
    right: 2.4vw;
    @include mq-up("tab_after") {
      top: 113vw;
      width: 3vw;
      height: 19.77778vw;
      right: 2.4vw;
    }
  }
  .deco_15 {
    will-change: transform;
    top: 113vw;
    width: 3.5vw;
    height: 8.77778vw;
    right: 8vw;
    @include mq-up("tab_after") {
      top: 113vw;
      width: 3.5vw;
      height: 8.77778vw;
      right: 8vw;
    }
  }
  .deco_16 {
    will-change: transform;
    top: 230vw;
    width: 3.5vw;
    height: 11.77778vw;
    right: 1vw;
    @include mq-up("tab_after") {
      top: 230vw;
      width: 3.5vw;
      height: 11.77778vw;
      right: 1vw;
    }
  }
  .deco_17 {
    will-change: transform;
    top: 134vw;
    width: 3vw;
    height: 16.77778vw;
    left: 69vw;
    @include mq-up("tab_after") {
      top: 134vw;
      width: 3vw;
      height: 16.77778vw;
      left: 69vw;
    }
  }
  .deco_18 {
    will-change: transform;
    top: 176vw;
    left: 69vw;
    width: 3vw;
    height: 3vw;
    @include mq-up("tab_after") {
      top: 176vw;
      left: 69vw;
      width: 3vw;
      height: 3vw;
    }
  }
  .deco_19 {
    will-change: transform;
    top: 295vw;
    left: 35vw;
    width: 2.77778vw;
    height: 11.77778vw;
    @include mq-up("tab_after") {
      top: 295vw;
      left: 35vw;
      width: 2.77778vw;
      height: 11.77778vw;
    }
  }
  .deco_20 {
    will-change: transform;
    top: 440vw;
    width: 3vw;
    height: 16.77778vw;
    left: 94vw;
    @include mq-up("tab_after") {
      top: 440vw;
      width: 3vw;
      height: 16.77778vw;
      left: 94vw;
    }
  }
  .deco_21 {
    will-change: transform;
    top: 306vw;
    width: 4vw;
    height: 9.77778vw;
    right: 94vw;
    @include mq-up("tab_after") {
      top: 306vw;
      width: 4vw;
      height: 9.77778vw;
      right: 94vw;
    }
  }
  .deco_22 {
    will-change: transform;
    top: 364vw;
    width: 4vw;
    height: 8.77778vw;
    right: 14vw;
    @include mq-up("tab_after") {
      top: 364vw;
      width: 4vw;
      height: 8.77778vw;
      right: 15vw;
    }
  }
  .deco_23 {
    will-change: transform;
    top: 405vw;
    width: 3vw;
    height: 19.77778vw;
    right: 22vw;
    @include mq-up("tab_after") {
      top: 405vw;
      width: 3vw;
      height: 19.77778vw;
      right: 22vw;
    }
  }
  .deco_24 {
    will-change: transform;
    top: 289vw;
    width: 2.3vw;
    height: 13.77778vw;
    right: 6.3vw;
    @include mq-up("tab_after") {
      top: 289vw;
      width: 2.3vw;
      height: 13.77778vw;
      right: 6.3vw;
    }
  }
  .deco_25 {
    will-change: transform;
    top: 303.4vw;
    width: 4vw;
    height: 12vw;
    right: 93vw;
    @include mq-up("tab_after") {
      top: 303.4vw;
      width: 4vw;
      height: 12vw;
      right: 93vw;
    }
  }
  .deco_26 {
    will-change: transform;
    top: 206vw;
    width: 3vw;
    height: 16.77778vw;
    right: 82vw;
    @include mq-up("tab_after") {
      top: 206vw;
      width: 3vw;
      height: 16.77778vw;
      right: 82vw;
    }
  }
  .deco_27 {
    will-change: transform;
    top: 352vw;
    width: 3vw;
    height: 19.77778vw;
    right: 88vw;
    @include mq-up("tab_after") {
      top: 352vw;
      width: 3vw;
      height: 19.77778vw;
      right: 88vw;
    }
  }
  .deco_28 {
    will-change: transform;
    top: 588vw;
    width: 3vw;
    height: 16.77778vw;
    right: 75vw;
    @include mq-up("tab_after") {
      top: 588vw;
      width: 3vw;
      height: 16.77778vw;
      right: 75vw;
    }
  }
  .deco_29 {
    will-change: transform;
    top: 634vw;
    width: 3vw;
    height: 18.77778vw;
    right: 13%;
    @include mq-up("tab_after") {
      top: 634vw;
      width: 3vw;
      height: 18.77778vw;
      right: 13%;
    }
  }
  .deco_30 {
    will-change: transform;
    top: 481vw;
    width: 4vw;
    height: 15vw;
    right: 83vw;
    @include mq-up("tab_after") {
      top: 481vw;
      width: 4vw;
      height: 15vw;
      right: 83vw;
    }
  }
  .deco_31 {
    will-change: transform;
    top: 353vw;
    width: 4vw;
    height: 15vw;
    right: 55vw;
    @include mq-up("tab_after") {
      top: 343vw;
      width: 4vw;
      height: 11vw;
      right: 80vw;
    }
  }
  .deco_32 {
    will-change: transform;
    top: 435vw;
    width: 3vw;
    height: 15vw;
    right: 49vw;
    @include mq-up("tab_after") {
      top: 438vw;
      width: 3vw;
      height: 15vw;
      right: 74vw;
    }
  }
  .deco_33 {
    will-change: transform;
    top: 430vw;
    width: 3vw;
    height: 3vw;
    right: 49vw;
    @include mq-up("tab_after") {
      top: 433vw;
      width: 3vw;
      height: 3vw;
      right: 74vw;
    }
  }
  // SP--------------------------------
  .deco_34 {
    will-change: transform;
    top: -3vw;
    left: 33.4%;
    width: 4vw;
    height: 10.77778vw;
  }
  .deco_35 {
    will-change: transform;
    top: -7.5vw;
    left: 53.5vw;
    width: 19.77778vw;
    height: 26.77778vw;
  }
  .deco_36 {
    will-change: transform;
    top: 37vw;
    left: 12.3vw;
    width: 10vw;
    height: 10vw;
  }
  .deco_37 {
    will-change: transform;
    top: 55vw;
    left: 74vw;
    width: 7vw;
    height: 26.77778vw;
  }
  .deco_38 {
    will-change: transform;
    top: 35vw;
    left: 95vw;
    width: 10vw;
    height: 26vw;
  }
  .deco_39 {
    will-change: transform;
    top: 265vw;
    left: 3vw;
    width: 15.77778vw;
    height: 21.77778vw;
  }
  .deco_40 {
    will-change: transform;
    top: 372vw;
    width: 5vw;
    height: 5vw;
    left: 71vw;
  }
  .deco_41 {
    will-change: transform;
    top: 381vw;
    width: 5vw;
    height: 20vw;
    left: 71vw;
  }
  .deco_42 {
    will-change: transform;
    top: 305vw;
    width: 6vw;
    height: 11vw;
    left: 60vw;
  }
  .deco_43 {
    will-change: transform;
    top: 508vw;
    width: 5vw;
    height: 35vw;
    left: 21vw;
  }
  .deco_44 {
    will-change: transform;
    top: 709vw;
    width: 7vw;
    height: 34vw;
    left: 75vw;
  }
  .deco_45 {
    will-change: transform;
    top: 872vw;
    width: 6vw;
    height: 21vw;
    left: 22vw;
  }
  .deco_46 {
    will-change: transform;
    top: 856vw;
    width: 5vw;
    height: 38vw;
    left: 87vw;
  }
  .deco_47 {
    will-change: transform;
    top: 1320vw;
    width: 6vw;
    height: 19vw;
    left: 8vw;
  }
  .deco_48 {
    will-change: transform;
    top: 1343vw;
    width: 6vw;
    height: 6vw;
    left: 8vw;
  }
  .deco_49 {
    will-change: transform;
    top: 1028vw;
    width: 8vw;
    height: 19vw;
    left: 20vw;
  }
  .deco_50 {
    will-change: transform;
    top: 1068vw;
    width: 6vw;
    height: 16vw;
    left: 80vw;
  }
  .deco_51 {
    will-change: transform;
    top: 1592vw;
    width: 5vw;
    height: 18vw;
    left: 68vw;
  }
  .deco_52 {
    will-change: transform;
    top: 1851vw;
    width: 5vw;
    height: 56vw;
    left: 16vw;
  }
  .deco_53 {
    will-change: transform;
    top: 2023vw;
    width: 6vw;
    height: 21vw;
    left: 74vw;
  }
  .deco_54 {
    will-change: transform;
    top: 2012vw;
    width: 6vw;
    height: 6vw;
    left: 74vw;
  }
  .deco_55 {
    will-change: transform;
    top: 1702vw;
    width: 5vw;
    height: 39vw;
    left: 64vw;
  }
  .deco_56 {
    will-change: transform;
    top: 2001vw;
    width: 5vw;
    height: 31vw;
    left: 34vw;
  }
  .deco_57 {
    will-change: transform;
    top: 1551vw;
    width: 5vw;
    height: 21vw;
    left: 44vw;
  }
  .deco_58 {
    will-change: transform;
    top: 1396vw;
    width: 5vw;
    height: 21vw;
    left: 14vw;
  }
  .deco_59 {
    will-change: transform;
    top: 2215vw;
    width: 7vw;
    height: 21vw;
    left: 21vw;
  }
  .deco_60 {
    will-change: transform;
    top: 2364vw;
    width: 8vw;
    height: 8vw;
    left: 70vw;
  }
  .deco_61 {
    will-change: transform;
    top: 2377vw;
    width: 8vw;
    height: 20vw;
    left: 70vw;
  }
}
