// ================================
// テキストスタイル
// ================================
.C_common__title-line {
  display: flex;
  color: $color-font;
  position: relative;
  font-family: 'Nunito-Bold';
  font-size: 5.86667vw;
  @include mq-up("tab_after") {
    font-size:1.73611vw;
  }
  .line-inner {
    height: .41333vw;
    width: 6.21867vw;
    position: relative;
    display: block;
    margin-top: 2.6vw;
    margin-right: 3.10933vw;
    &.company {
      margin-top: 4.4vw;
      @include mq-up("tab_after") {
        margin-top: 1.27vw;
      }
    }
    @include mq-up("tab_after") {
      width: 2.08333vw;
      height: .13889vw;
      margin-right: 3.04167vw;
      margin-top: 1.27vw;
    }
    .line {
      position: absolute;
      top: 0;
      width: 200%;
      height: 100%;
      transition: width .6s cubic-bezier(.165,.84,.44,1);
      background-color: $color-font;
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: inset(0 100% 0 0);
      border-radius: 6.21867vw;
      right: 0;
      @include mq-up("tab_after") {
        border-radius: 2.08333vw;
      }
      &.isActive {
        animation: line-in 1.5s cubic-bezier(.165,.84,.44,1) .1s forwards;
      }
      &.A_visited {
        animation: line-in 1.5s cubic-bezier(.165,.84,.44,1) .1s forwards;
      }
    }
  }
}
.C_common__catch {
  line-height: 116%;
  font-weight: 600;
  font-family: 'Nunito-ExtraBold';
  white-space: nowrap;
  font-size: 11vw;
  @include mq-up("tab_after") {
    font-size: 6vw;
  }
}
.C_common__title_S {
  letter-spacing: .01em;
  color: #7d7d7d;
  font-feature-settings: "palt" on;
}
.C_common__title {
  font-family: 'honoka-maru';
  font-size: 6vw;
  @include mq-up("tab_after") {
    font-size: 3vw;
  }
}
.C_common__title_L {
  font-family: 'DINPro-Medium';
  font-size: 21.33333vw;
  @include mq-up("tab_after") {
    font-size: 10vw;
  }
}
.C_common__title_Din {
  font-family: 'DINPro-Medium';
  font-weight: 700;
  color: $color-font;
}
.C_page-header {
  font-family: "DINPro-Medium";
  text-align: center;
  letter-spacing: -.035em;
  font-size: 11.2vw;
  line-height: 321%;
  @include mq-up("tab_after") {
    font-size: 3.88889vw;
    line-height: 241%;
  }
}
// ================================
// ボタン
// ================================
.C_common__button {
  margin: 8.53333vw auto 0;
  height: 12.8vw;
  width: 81.86667vw;
  transition: height .2s cubic-bezier(.165,.84,.44,1);
  @include mq-up("tab_after") {
    width: 16.38889vw;
    height: 3.47222vw;
    margin: 0;
  }
  .A_mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    color: $color-mask;
    cursor: pointer;
    overflow: hidden;
    transition: width .7s cubic-bezier(.165,.84,.44,1),border .4s cubic-bezier(.165,.84,.44,1);
    z-index: 0;
    box-sizing: border-box;
    border: solid $color-mask;
    border-radius: 100px;
    background-image: -webkit-linear-gradient(left,#fff 50%, $color-mask 0);
    border-width: .41333vw;
    @include mq-up("tab_after") {
      border-width: .13889vw;
    }
    &.no-border {
      border: none;
    }
  }
  .arrow-left {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-130%, -50%);
    height: 25%;
    transition: transform .8s cubic-bezier(.075,.82,.165,1) .4s;
  }
  .btn-text {
    font-family: 'DINPro-Medium';
    color: $color-mask;
    transition: color 1s cubic-bezier(.075,.82,.165,1);
    font-size: 4.26667vw;
    @include mq-up("tab_after") {
      font-size: 1.1vw;
    }
  }
  path {
    fill: $color-mask;
    transition: fill .6s cubic-bezier(.075,.82,.165,1);
  }
  &:hover .btn-text{
    color: #fff;
    font-weight: 600;
  }
  &:hover path {
    fill: #fff;
  }
  &:hover .arrow-left {
    transform: translate(-100%, -50%);
  }
}
// ================================
// コンテンツ
// ================================

.C_common__contents-bords {
  margin-top: 9.86667vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include mq-up("tab_after") {
    flex-direction: column;
    margin-top: 2.70833vw;
  }
  .bord {
    display: flex;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 3.2vw;
    flex-direction: column-reverse;
    margin-top: 10.66667vw;
    align-items: center;
    @include mq-up("tab_after") {
      flex-direction: row;
      border-radius: .83333vw;
      margin-top: 3.47222vw;
      height: 34vw;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  .inner-left {
    @include mq-up("tab_after") {
      width: 65%;
      height: 100%;
    }
  }
  .inner-right {
    height: 89.33333vw;
    width: 89.33333vw;
    overflow: hidden;
    position: relative;
    @include mq-up("tab_after") {
      width: 35%;
      height: 100%;
    }
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vw;
    @include mq-up("tab_after") {
      margin-top: initial;
      width: initial;
      height: 88%;
      padding-top: 6vw;
      padding-left: 4.2vw;
      padding-right: 4.2vw;
    }
    .C_common__title_S {
      &.right {
        display: flex;
        justify-content: flex-end;
      }
    }
    .C_common__title {
      margin-top: 1.33333vw;
      @include mq-up("tab_after") {
        margin-top: 1.11111vw;
      }
      &.right {
        display: flex;
        justify-content: flex-end;
      }
    }
    .text {
      margin-top: 4.53333vw;
      font-size: $font-size-base_sp;
      line-height: 190%;
      margin-bottom: 8vw;
      @include mq-up("tab_after") {
        margin-top: 2.22222vw;
        font-size: $font-size-base;
        line-height: 210%;
      }
      &.right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .button-box {
    border-right: none;
    border-left: none;
    border-bottom: none;
    box-sizing: border-box;
    border-top: solid #e7e7e7;
    border-width: .14133vw;
    width:  100%;
    height: 15vw;
    @include mq-up("tab_after") {
      height: 4.16667vw;
      border-width: .06944vw;
      width: 100%;
    }
    &:hover .text {
      color: #fff;
    }
    &:hover path {
      fill: #fff;
    }
  }
  .button {
    border: none;
    background-image: -webkit-linear-gradient(left,#fff 50%,$color-mask 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    box-sizing: border-box;
    border-left: solid #e7e7e7;
    border-width: .14133vw;
    width: 43.73333vw;
    @include mq-up("tab_after") {
      border-width: .06944vw;
      width: 12.5vw;
    }
    .text {
      position: relative;
      letter-spacing: .02em;
      color: $color-font;
      transition: color .4s cubic-bezier(.165,.84,.44,1),opacity .3s .35s;
      font-size: 4.26667vw;
      @include mq-up("tab_after") {
        font-size: 1.04167vw;
      }
    }
    .arrow-left {
      fill: $color-font;
      border: none;
      position: absolute;
      transition: transform .8s cubic-bezier(.165,.84,.44,1);
      width: 1.86667vw;
      right: 4.04vw;
      @include mq-up("tab_after") {
        width: .55556vw;
        right: 1.04167vw;
      }
    }
  }
}
.C_common__contents {
  position: relative;
  width: 100%;
  height: 179.25333vw;
  margin-top: 25.06667vw;
  @include mq-up("tab_after") {
    margin-top: 6vw;
    height: 62.5vw;
  }
  &:first-of-type {
    @include mq-up("tab_after") {
      margin-top: 0;
    }
  }
  .C_common__title_L {
    &.left,
    &.right {
      position: absolute;
      top: -104.33333vw;
      @include mq-up("tab_after") {
        top: -33%;
        width: initial;
      }
    }
    &.left {
    left: 4.26667vw;
      @include mq-up("tab_after") {
        left: -3.33333vw;
      }
    }
    &.right {
    right: 4.26667vw;
      @include mq-up("tab_after") {
        right: -3.33333vw;
      }
    }
  }
  .card {
    padding: 0 5vw;
    position: absolute;
    z-index: map-get($layer, 'cover');
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89.86667vw;
    top: 82.72vw;
    height: 96.53333vw;
    @include mq-up("tab_after") {
      width: 52.08333vw;
      height: 29.86111vw;
      top: 18.75vw;
    }
    .C_common__title_S {
          margin-top: 0.4vw;
    }
    .C_common__title {
      margin-top: 1.33333vw;
      @include mq-up("tab_after") {
        margin-top: 0;
      }
    }
    &.left {
      border-top-right-radius: 3.2vw;
      border-bottom-right-radius: 3.2vw;
      left: 0;
      @include mq-up("tab_after") {
        border-top-right-radius: .83333vw;
        border-bottom-right-radius: .83333vw;
        border-top-left-radius: .83333vw;
        border-bottom-left-radius: .83333vw;
        left: 6.94444vw;
      }
    }
    &.right {
      border-top-left-radius: 3.2vw;
      border-bottom-left-radius: 3.2vw;
      right: 0;
      @include mq-up("tab_after") {
        border-top-right-radius: .83333vw;
        border-bottom-right-radius: .83333vw;
        border-top-left-radius: .83333vw;
        border-bottom-left-radius: .83333vw;
        right: 6.94444vw;
      }
    }
    .text {
      line-height: 160%;
      margin-top: 3.46667vw;
      width: 68.26667vw;
      @include mq-up("tab_after") {
        margin-top: .97222vw;
        width: 38.26389vw;
      }
    }
    .C_common__button {
      width: 68.26667vw;
      margin-top: 8vw;
      @include mq-up("tab_after") {
        margin-top: 2.43056vw;
        width: 16.38889vw;
      }
    }
  }
  .img-box {
    position: absolute;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
    background-color: grey;
    width: 84.26667vw;
    height: 96vw;
    @include mq-up("tab_after") {
      width: 50%;
      height: 100%;
    }
    &.left {
      border-top-right-radius: 3.2vw;
      border-bottom-right-radius: 3.2vw;
      left: 0;
      @include mq-up("tab_after") {
        border-top-right-radius: .83333vw;
        border-bottom-right-radius: .83333vw;
      }
    }
    &.right {
      border-top-left-radius: 3.2vw;
      border-bottom-left-radius: 3.2vw;
      right: 0;
      @include mq-up("tab_after") {
        border-top-left-radius: .83333vw;
        border-bottom-left-radius: .83333vw;
      }
    }
  }
}
