.C_header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 0;
  font-family: 'Nunito-SemiBold';
  z-index: map-get($layer, 'header');
}
.C_header__logo {
  position: absolute;
  left: 5vw;
  width: 15vw;
  height: 10vw;
  top: 10vw;
  transform: translateY(-50%);
  @include mq-up("tab_after") {
    left: $space-side;
    top: 3.5vw;
    width: 4vw;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
.C_header__nav-lists {
  position: absolute;
  right: $space-side;
  top: 3.5vw;
  transform: translateY(-50%);
  display: flex;
}
.C_header__nav-list {
  overflow: hidden;
  margin-left: 3vw;
  position: relative;
  cursor: pointer;
  &:hover path {
    fill: $color-mask;
  }
  &.sub-menu {
    cursor: default;
  }
  .isHide {
    transition: all .6s cubic-bezier(.075,.82,.165,1);
    transform: translate(120%, 0px);
    &.isMoveTop {
      transform: translate(0%, 0px);
    }
  }
}
.C_header__open-menu {
  position: relative;
  cursor: default;
  &.isMoveTop {
    &:hover .target-ul {
      opacity: 1;
      transform: translate(-50%, 100%);
    }
    &:hover .target-li{
      opacity: 1;
      transform: initial;
    }
  }
}
.C_header__arrow-down {
  margin-left: 0.82222vw;
  width: 0.96389vw;
  height: 0.91667vw;
  path {
    fill: $color-text;
    transition: all .8s;
  }
}
// ヘッダーサブメニュー
.C_header__nav-sub-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-text-fill-color: initial;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20vw;
  border-radius: 1.25vw;
  border: .06944vw solid $color-font;
  opacity: 0;
  transform: translate(-50%, 100%) scale(1, 0);
  transition: all .6s cubic-bezier(.075,.82,.165,1);
  transform-origin: center top;
  background-color: white;
}
.C_header__nav-sub-list {
  cursor: pointer;
  color: $color-text;
  height: 2.98611vw;
  font-size: 1.04167vw;
  letter-spacing: .02em;
  white-space: nowrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all .6s cubic-bezier(.075,.82,.165,1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top center;
  border-bottom: 0.06944vw solid #bbb;
  &:first-of-type {
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
    border-top: none;
  }
  &:last-of-type {
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
    border-bottom: none;
  }
  &:hover {
    color: #fff;
  }
}
// ヘッダーオープナー
.C_header__opener {
  right: 5vw;
  top: 9.4vw;
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  z-index: 1100;
  transition: transform .5s .3s;
  transform: translate(0, -50%);
  @include mq-up("tab_after") {
    top: 3.5vw;
  }
  &.isMoveTop {
    @include mq-up("tab_after") {
      transform: translate(200%, -50%);
      transition: transform .5s .35s;
    }
  }
  &:hover .A_text-mask {
    -webkit-animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
    animation: mask .8s cubic-bezier(.075,.82,.165,1) 0s forwards .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
  }
  &:hover .icon_bg{
    height: 8vw;
    width: 8vw;
    background-color: $color-mask;
    @include mq-up("tab_after") {
      height: 2.77778vw;
      width: 2.77778vw;
    }
  }
  &:hover .icon_dot.--ver-up {
    transform: translate(-50%,-50%);
    transition: transform .5s;
  }
  &:hover .icon_dot.--ver-down {
    transform: translate(-50%,-50%);
    transition: transform .5s;
  }
  &:hover .icon_dot.--hor-left {
    transform: translate(-250%,-50%);
    transition: transform .3s .3s, background-color 0s .2s;
  }
  &:hover .icon_dot.--hor-right {
    transform: translate(150%,-50%);
    transition: transform .3s .3s,background-color 0s .2s;
  }
  &:hover .icon_dot.--center {
    background-color: #fff;
    transition: background-color .5s;
  }
}
.C_header__opener__text {
  letter-spacing: .02em;
  transition: color .3s;
  z-index: 2;
  overflow: hidden;
  font-size: 3.73333vw;
  @include mq-up("tab_after") {
    font-size: 1.25vw;
  }
  .isHide {
    transition: all .6s cubic-bezier(.075,.82,.165,1);
    transform: translate(0%, 0px);
    &.isMoveTop {
      @include mq-up("tab_after") {
        transform: translate(120%, 0px);
      }
    }
  }
}
.C_header__opener__icon {
  position: relative;
  width: 2.77778vw;
  margin-left: 4.33333vw;
  height: 8vw;
  @include mq-up("tab_after") {
    height: 2.77778vw;
    margin-left: .76389vw;
  }
  .icon_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0%;
    transition: width .3s,height .3s, background-color .4s;
    border-radius: 50%;
  }
  .icon_dot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1a1a1a;
    border-radius: 50%;
    transition: transform .35s, background-color .3s;
    height: 1vw;
    width: 1vw;
    @include mq-up("tab_after") {
      height: .28vw;
      width: .28vw;
    }
    &.--ver-up {
      transform: translate(-50%,-250%);
      transition: transform .3s .7s;
      &.isMoveTop {
        @include mq-up("tab_after") {
          transform: translate(-50%,-50%);
          transition: transform .5s;
        }
      }
    }
    &.--ver-down {
      transform: translate(-50%,150%);
      transition: transform .3s .7s;
      &.isMoveTop {
        @include mq-up("tab_after") {
          transform: translate(-50%,-50%);
          transition: transform .5s;
        }
      }
    }
    &.--hor-left {
      background-color: #fff;
      transition: transform .35s,background-color .3s .3s;
    }
    &.--hor-right {
      background-color: #fff;
      transition: transform .35s,background-color .3s .3s;
    }
  }
}
.C_header__dummy {
  height: $header-height_sp;
  @include mq-up("tab_after") {
    height: $header-height_pc;
  }
}
// サイドバー
.C_header__side-menu {
  will-change: transform;
  font-family: 'Nunito-SemiBold';
  transform-origin: 100% 50%;
  transform: translate(101%, 0px);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #1a1a1a;
  z-index: 1200;
  letter-spacing: .02em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100vw;
  @include mq-up("tab_after") {
    width: 50.33333vh;
  }
  .A_text-mask {
    color: #fff;
    background-image: -webkit-linear-gradient(left,#fff 50%, $color-mask 0);
  }
  .menu-lists {
    margin-top: 13.6vw;
    margin-left: 15.288vw;
    @include mq-up("tab_after") {
      margin-top: 8.33333vh;
      margin-left: 10.22222vh;
    }
  }
  .menu-list {
    opacity: 0;
    transform: translateX(50px);
    .isCurrent,
    .isService {
      pointer-events: none;
      cursor: default;
    }
    .isCurrent {
      color: $color-mask;
    }
  }
  .menu-link {
    position: relative;
    display: inline-block;
    line-height: 106.2%;
    font-size: 9.6vw;
    margin-top: 2.66667vw;
    @include mq-up("tab_after") {
      font-size: 4.88889vh;
      margin-top: 1.66667vh;
    }
    &::before {
      left: -8.61333vw;
      height: 1.33333vw;
      border-radius: 6.05333vw;
      position: absolute;
      top: 50%;
      display: block;
      width: 0;
      background: $color-mask;
      content: "";
      transform: translateY(-50%);
      transition: width .4s cubic-bezier(.165,.84,.44,1);
      @include mq-up("tab_after") {
        &.isCurrent {
          width: 2.88889vh;
        }
        height: .88889vh;
        left: -4.66667vh;
        border-radius: .88889vh;
      }
    }
    &.service {
      pointer-events: none;
      cursor: default;
    }
    &.list-sub {
      font-size: 5.33333vw;
      margin-left: 8.53333vw;
      margin-top: 3.06667vw;
      position: relative;
      display: inline-block;
      color: #fff;
      background-image: -webkit-linear-gradient(left,#fff 50%,$color-mask 0);
      @include mq-up("tab_after") {
        font-size: 3.11111vh;
        margin-left: 4.44444vh;
        margin-top: 1.66667vh;
      }
    }
  }
  .menu-bottom {
    font-family: 'DINPro-Medium';
    position: relative;
    margin-top: 12.26667vw;
    margin-bottom: 10.4vw;
    margin-left: 15.288vw;
    bottom: auto;
    white-space: nowrap;
    @include mq-up("tab_after") {
      position: absolute;
      bottom: 6.66667vh;
      left: 10.44444vh;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
    .menu-link-bottom {
      font-size: 4vw;
      margin-top: 2.4vw;
      position: relative;
      display: inline-block;
      @include mq-up("tab_after") {
        font-size: 1.77778vh;
        margin-top: 1.11111vh;
      }
    }
    .copy-right {
      font-size: 3.46667vw;
      margin-top: 6.66667vw;
      display: block;
      color: #7d7d7d;
      font-family: "DINPro-Medium";
      opacity: 0;
      transform: translateX(50px);
      @include mq-up("tab_after") {
        font-size: 1.55556vh;
        margin-top: 2.77778vh;
      }
    }
  }
  .menu-close {
    font-family: 'DINPro-Medium';
    top: 7.73333vw;
    right: 6.4vw;
    font-size: 3.73333vw;
    padding-right: 6.93333vw;
    position: absolute;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.165,.84,.44,1) .65s;
    border-radius: 3.2vw;
    @include mq-up("tab_after") {
      top: 5.55556vh;
      right: 5.55556vh;
      font-size: 2vh;
      padding-right: 4.44444vh;
    }
    &:hover .border{
      background-color: $color-mask;
    }
  }
  .close {
    width: 4.53333vw;
    height: .56533vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    @include mq-up("tab_after") {
      width: 2.2vh;
      height: .36889vh;
    }
  }
  .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    transform-origin: center;
    transition: transform .5s cubic-bezier(.165,.84,.44,1) .05s,background .5s cubic-bezier(.165,.84,.44,1),opacity .5s cubic-bezier(.165,.84,.44,1) .05s;
    border-radius: 3.2vw;
    @include mq-up("tab_after") {
      border-radius: 1.33333vh;
    }
    :first-of-type {
      transform: rotate(45deg) scaleX(0);
    }
    :nth-child(2) {
      transform: rotate(-45deg) scaleX(0);
    }
  }
  animation: side-menu-open_rewind .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
  .menu_show-list_0 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_1 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_2 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_3 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_4 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_5 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_6 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_7 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_8 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_9 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_10 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .menu_show-list_11 {
    animation: side-menu-list-show_rewind .8s cubic-bezier(.075,.82,.165,1) forwards;
  }
  .border {
    &:first-of-type {
      transform: rotate(45deg) scaleX(1);
    }
    &:nth-child(2) {
      transform: rotate(-45deg) scaleX(1);
    }
  }
  &.isActive {
    animation: side-menu-open .8s cubic-bezier(.075,.82,.165,1) 0s forwards;
    .menu_show-list_0 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.1s forwards;
    }
    .menu_show-list_1 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.15s forwards;
    }
    .menu_show-list_2 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.2s forwards;
    }
    .menu_show-list_3 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.25s forwards;
    }
    .menu_show-list_4 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.3s forwards;
    }
    .menu_show-list_5 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.35s forwards;
    }
    .menu_show-list_6 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.4s forwards;
    }
    .menu_show-list_7 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.45s forwards;
    }
    .menu_show-list_8 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.5s forwards;
    }
    .menu_show-list_9 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.55s forwards;
    }
    .menu_show-list_10 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.6s forwards;
    }
    .menu_show-list_11 {
      animation: side-menu-list-show .4s cubic-bezier(.075,.82,.165,1) 0.65s forwards;
    }
    .menu-close {
      opacity: 1;
    }
    .border {
      &:first-of-type {
        transform: rotate(45deg) scaleX(1);
      }
      &:nth-child(2) {
        transform: rotate(-45deg) scaleX(1);
      }
    }
  }
}
@keyframes side-menu-open {
  0% {
    transform-origin: 100% 50%; transform: translate(101%, 0px);
  }
  100% {
    transform-origin: 100% 50%; transform: translate(0px, 0px);
  }
}
@keyframes  side-menu-list-show {
  0% {
    transform-origin: 100% 50%; transform: translate(50px, 0px); opacity: 0;
  }
  100% {
    transform-origin: 100% 50%; transform: translate(0px, 0px); opacity: 1;
  }
}
@keyframes side-menu-open_rewind {
  0% {
    transform-origin: 100% 50%; transform: translate(0px, 0px);
  }
  100% {
    transform-origin: 100% 50%; transform: translate(101%, 0px);
  }
}
@keyframes  side-menu-list-show_rewind {
  0% {
    transform-origin: 100% 50%; transform: translate(0px, 0px); opacity: 1;
  }
  100% {
    transform-origin: 100% 50%; transform: translate(0px, 0px); opacity: 0;
  }
}
